body{
	height: 50vh;
	width: 100%;
    /* background-image:url("https://www.dexterdanceschool.co.za/blog/wp-content/uploads/2020/11/geometric-dark-bg.jpg"); */
    font-family: Arial, Helvetica, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  font-weight: 800;
}


.svg-contact {
    display: block;
    font: 10.5em 'Montserrat';
    width: 400px;
    height: 200px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: -10%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #5215df;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}